.loader-teardrop {
  width: 30px;
  height: 30px;
  border-width: 0;
  border-radius: 50%;
  border: 0px solid transparent;
  border-top: 4px solid #bed4ff;
  border-right: 3px solid transparent;
  animation: rotate-teardrop 800ms linear infinite;
}

.loader-teardrop.dark {
  border-top-color: var(--main-blue);
}

@keyframes rotate-teardrop {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
