@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  // font-family: Poppins, sans-serif;
  font-family: "Inter", sans-serif;
}

.h1-semi-bold {
  font-size: 56px;
  line-height: 84px;
  font-weight: 600;
  margin-bottom: 20px;
}

.h1-max-semi-bold {
  font-size: 60px;
  font-weight: 600;
  line-height: 56px;
}

.h2-bold {
  font-size: 56px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}

.h3-bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 16px;
}

.h4-regular {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}

.h4-bold {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 16px;
}

.paragraph-small {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 16px;
}

.paragraph-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.paragraph-semi-bold {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.paragraph-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.paragraph-3-regular {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.paragraph-3-bold {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.text-left {
  text-align: left;
}

.no-text-decoration {
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .h1-semi-bold {
    font-size: 42px;
    line-height: 48px;
  }

  .h1-max-semi-bold {
    font-size: 54px;
    line-height: 48px;
  }

  .paragraph-regular,
  .paragraph-bold {
    line-height: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .h1-semi-bold {
    font-size: 36px;
    line-height: 42px;
  }

  .h4-regular {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 991px) {
  .h1-max-semi-bold {
    font-size: 46px;
    margin-bottom: 12px;
  }

  .h2-bold {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .h4-regular {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .h4-bold {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .paragraph-regular,
  .paragraph-bold {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .h1-semi-bold {
    font-size: 32px;
    line-height: 42px;
  }

  .h1-semi-bold {
    font-size: 24px;
    line-height: 28px;
  }

  .h2-bold {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
  }
}
